.total-dashboard {
    display: flex;
    background-color: var(--border-color);
    border-radius: 5px;
    gap: 2px;


}

.dashboard-content {
    flex: 3.5;
    /* background-color: rgb(79, 78, 78); */
    color: var(--text);
    padding: 10px;

}

.profile-container {
    flex: 1;
    background-color: var(--background);
    padding: 10px;
}

.profile-card {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    min-height: 84vh;
    border: 2px solid var(--border-color);
    position: sticky;
    top: 10px;
}

.pic-container {
    padding: 10px;
    background-color: var(--background-1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #4159d0aa; */
    /* background-image: linear-gradient(43deg, #4159d084 0%, #c850c077 46%, #ffcd7083 100%); */
    border-radius: 5px;

}





.color-empty {
    fill: #eeeeee;
    /* Light gray for no activity */
}

.color-skipped {
    fill: var(--card);
    /* Yellow for skipped dates */
}

.color-scale-1 {
    fill: #c6e48b;
    /* Light green */
}

.color-scale-2 {
    fill: #7bc96f;
    /* Medium green */
}

.color-scale-3 {
    fill: #239a3b;
    /* Dark green */
}

.color-scale-4 {
    fill: #196127;
    /* Darkest green */
}

