.total-dashboard {
    display: flex;
    background-color: var(--border-color);
    border-radius: 5px;
    gap: 2px;


}

.profile {
    color: var(--text);
}

.dashboard-content {
    flex: 3.5;
    color: var(--text);
    background-color: var(--background);
}

.profile-container {
    flex: 1;
    background-color: var(--background);
    padding: 10px;
}

.profile-card {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    min-height: 84vh;
    border: 2px solid var(--border-color);
    position: sticky;
    top: 10px;
}

.pic-container {
    padding: 10px;
    background-color: var(--background-1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

}





.color-empty {
    fill: #eeeeee;
}

.color-skipped {
    fill: var(--card);
}

.color-scale-1 {
    fill: #c6e48b;
}

.color-scale-2 {
    fill: #7bc96f;
}

.color-scale-3 {
    fill: #239a3b;
}

.color-scale-4 {
    fill: #196127;
}

.profile-activity {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}

.profile-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--background-1);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.activity-map {
    flex: 2;
    background-color: var(--background-1);
    border-radius: 5px;
    padding: 20px;
    border: 1px solid var(--border-color);
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}



.progress-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.progress-card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    flex: 2;
    background-color: var(--background-1);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--border-color);

}

.course-image img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.course-detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.course-detail h4 {
    margin: 0;
    font-size: 18px;
    color: var(--text);
}

.progress-bar {
    background-color: #e0e0e0;
    height: 10px;
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}

.filler {
    background-color: #4caf50;
    height: 100%;
    border-radius: inherit;
}

.progress-percentage {
    font-size: 16px;
    color: var(--text);
}


.each-course {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.count-activity {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.count-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .count-info {
        grid-template-columns: 1fr;
        /* Single column on small screens */
    }
}

.each-count-box {
    background-color: var(--background-1);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--border-color);
}

.count-icon {
    font-size: 40px;
    margin-right: 20px;
    color: var(--primary-color);
}

.count-details h4 {
    font-size: 16px;
    margin: 0;
    color: var(--text-dark);
}

.count-details span {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}


.problem-solving {
    display: flex;
    gap: 10px;
}

.overall-count {
    background-color: var(--background-1);
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.problem-solving-charts {
    flex: 2;
    display: flex;
    gap: 10px;
}

.each-indiv-count {
    background-color: var(--background-1);
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}



.problem-solving-charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 boxes in a row */
    gap: 10px;
}

.radial-chart {
    background-color: var(--background-1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 20px;
    flex: 1;
}

.radial-chart h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.difficulty-level p {
    font-size: 1rem;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .problem-solving-charts {
        grid-template-columns: repeat(2, 1fr);
        /* 2 boxes in a row for tablets */
    }
}

@media (max-width: 480px) {
    .problem-solving-charts {
        grid-template-columns: 1fr;
        /* 1 box in a row for small screens */
    }
}

.heading {
    font-weight: 600;
}