/* course.css */

.total-course {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.avail-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
}

.course-cards {
  background-color: var(--background-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.course-cards:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
  

}

.course-cards:hover .course-img {
  object-fit: fill;
  transform: scale(1.05); 
  
}

.course-img-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 1s ease-in;
}

.course-details {
  padding: 10px;
  margin-top: 10px;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.course-icon {
  background-color: rgba(27, 109, 120, 0.655);
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
}

.MuiRating-root {
  font-size: 18px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .avail-courses {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (max-width: 768px) {
  .avail-courses {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .avail-courses {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 380px) {
  .avail-courses {
    grid-template-columns: repeat(1, 1fr);
    /* Ensures 1 card per row on small phone screens */
  }
}

.c-description{
  font-size: 18px;
  font-weight: 500;
  padding: 0px 7px;
  line-height: 22px;
  color: gray;
}

.course-type{
  padding: 5px 10px;
  background-color: rgba(86, 237, 177, 0.373);
  color: var(--text);
  font-weight: 500;
  border-radius: 10px;
}

.timing-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  margin-top: 15px;
}

.info-time{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.price-ratings{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  background-color: rgba(0, 128, 85, 0.114);
  border-radius: 10px;
  color: #4b9159;
  font-weight: 700;
  margin-top: 10px;
}