.learning-page-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.learning-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.learning-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-1);
    padding: 0px 10px;
    border-radius: 10px;
    position: sticky;
    top: 0px;
}

.menu-icon {
    cursor: pointer;
}

.course-content {
    margin-top: 20px;
}

.sidebar-content {
    width: 320px;
    padding: 20px;
    background-color: var(--background-1);
    height: 100%;
    color: var(--text);
}


.sidebar-content h3 {
    margin-bottom: 10px;
}

.sidebar-content ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-content ul {
    margin: 10px 0;
}

.topic-item {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background);
    border-radius: 10px;
    margin: 10px 0px;
}


.topic-item.active {
    background-color: #007bff;
    /* Highlight active topic */
    font-weight: bold;
    /* Change color when active */
}

.topic-item:hover {
    background-color: #237ce84f;
}


.learning-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-1);
    padding: 0px 10px;
    border-radius: 5px;
    position: sticky;
    top: 0px;
    border: 1px solid var(--border-color);
}


.course-content {
    margin-top: 10px;
    margin-bottom: 70px;
}


.topic-content {
    padding: 15px;
    border-radius: 8px;
}

.topic-content h3 {
    margin-top: 0;
}

.topic-content h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: var(--text);
    border-bottom: 1px solid gray;
}

.topic-content h2 {
    margin-bottom: 10px;
    color: var(--text);
}

.topic-content p {
    font-weight: 500;
    color: rgb(99, 99, 99);
    font-size: 18px;
    padding: 0px 10px 0px 10px;
}

iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
}


.topic-item.active {
    background-color: #007bff;
    font-weight: bold;
}

pre {
    padding: 0px 20px 0px 20px;
    margin: 5px;
    border: 1px solid gainsboro;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}

@media (max-width: 888px) {
    .course-content {
        margin-bottom: 10px;
    }
}

.navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Spread the buttons apart */
    width: 100%;
    /* Ensures the full width is used */
}

.navigation-buttons button {
    background-color: purple;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.navigation-buttons .spacer {
    flex-grow: 1;
    /* Takes up remaining space to push buttons apart */
}

.navigation-buttons button:first-child {
    margin-right: auto;
    /* Ensures "Prev" button stays on the left */
}

.navigation-buttons button:last-child {
    margin-left: auto;
    /* Ensures "Next" button stays on the right */
}