.welcome-container {
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    background-image: var(--lbg)
}

.welcome-container .MuiTypography-root {
    margin-bottom: 20px;
}




.question-page {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 5px;

}

.question-content {
    width: 40%;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--background-1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.editor-container {
    width: 60%;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
}

.welcome-msg {
    font-size: 20px;
    font-weight: 600;
    color: #1e92e0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.coder-quote {
    font-size: 30px;
    font-weight: 700;
    color: var(--text);
}

.prblm-button {
    background-color: #007ac6;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
    color: white;
}

.prblm-button:hover {
    background-color: rgb(17, 180, 221);
}

#topic-select-label {
    left: 10px;
    top: 15px;
    background-color: var(--background-1);
    color: #1e92e0;
}

.question-list ul {
    padding: 0px;
}

.question-list li {
    list-style: none;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;

}

.ques-box {
    background-color: var(--background-1);
    padding: 15px 15px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.ques {
    font-size: 18px;
    font-weight: 600;
}

.star-difficulty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-page {
    display: flex;
}

.questions-div {
    flex: 1;
}

.question-user-info {
    flex: 1;
}

.solve-button {
    background-color: #007ac6;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    float: right;
    cursor: pointer;
}


.topic-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-1);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-and-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-box {
    width: 100%;
    padding: 8px 12px 8px 35px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
}

.search-box:focus {
    border-color: #007bff41;
}

.search-box::placeholder {
    color: #aaa;
    font-style: italic;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
}

.filter-icon {
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s;
}

.filter-icon:hover {
    color: #007bff;
}

.difficulty-filter-menu {
    position: absolute;
    top: 120px;
    right: 50%;
    background-color: var(--background-1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.difficulty-filter-menu .flex {
    display: flex;
    flex-direction: column;
}

.close-filter {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.close-filter:hover {
    background-color: #d32f2f;
}


.flex {
    display: flex;
    flex-direction: column;
}

.topic-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.problem-solving-page {
    background-color: var(--background-1);
    border-radius: 5px;
}