.footer {
  background-color: #18181b;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 15px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-info,
.quick-links,
.social-media {
  list-style-type: none;
  padding: 0;
}

.contact-item,
.quick-links li,
.social-media a {
  margin-bottom: 10px;
  color: #bdc3c7;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  color: #3498db;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #7f8c8d;
  padding-top: 20px;
}