.custom-button {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
}

.custom-button:hover {
    opacity: 0.9;
}

.custom-button:active {
    transform: scale(0.99);
}